.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 23%,
    rgba(9, 9, 121, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
  /* padding: 10px; */
  max-width: 100%;
  width: 100vw;
}

.right a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.links:hover {
  color: purple;
}

.hero img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.img {
  background-image: url(/src/components/images/man2.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.377);
}

.Box {
  width: 100vw;
  height: 300px;
  box-sizing: border-box;
  position: relative;
}

.Box img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.imgbg {
  height: 100vh;
  width: 100vw;
  background-image: url(./components/images/man2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.pic{
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  overflow: hidden;
}


.navbar-brand{
  color: white !important;
}

.nav-link{
  color: white !important;
}

